.accordion-item{
 
  padding: 10px;
  margin : 10px;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  }
.accordion-title{
  display: flex ;
  justify-content: space-between;
}

.accordion-item:hover{
  border-left : 5px solid orangered;
  transition-duration: 3s;
}
.accordion-opened{
  border-left : 5px solid orangered;
  transition-duration: 3s;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.71);
  
}